.primary-color {
  color: #009cde;
}

.secondary-color {
  color: #cacaca;
}
.primary-pg-color {
  background-color: #009cde;
}

.secondary-bg-color {
  background-color: #cacaca;
}

body,
p,
h1,
.section {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f9f1;
}
.container {
  display: flex;
  background-color: grey;
  height: 100vh;
}

.left-column {
  padding: 20px;
  background-color: #f2f9f1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.right-column {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 50%;
  height: 1000px;
}
.right-column .header {
  margin-left: 100px;
}
.weird-top {
  margin-left: -100px;
  margin-top: -100px;
  transform: rotate(-135deg);
  height: 300px;
  width: 450px;
  background-color: #acddb9;
  border-radius: 50%;
}
.weird-bottom {
  margin-bottom: -100px;
  margin-left: -150px;
  transform: rotate(200deg);
  height: 300px;
  width: 450px;
  background-color: #ecddbb;
  border-radius: 50%;
}

body {
  margin: 0px;
}
h1 {
  padding: 0px;
  margin: 0px;
}
.section {
  margin: 0px;
  padding: 0px;
}

.right-nav {
  display: flex;
  justify-content: end;
}
nav-items {
  align-self: stretch;
}
a {
  color: grey;
  text-decoration: none;
  padding-right: 5px;
  font-size: 12px;
}

a:hover {
  color: black;
}

.categories {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 30px;
  flex-wrap: wrap;
}

.item1 {
  background-color: #4ee1d8;
  width: 200px;
  height: 120px;
  margin: 3px;
}
.item2 {
  background-color: #fff7c3;
  width: 180px;
  height: 240px;
  margin: 3px;
}
.item3 {
  background-color: #8a46fa;
  width: 200px;
  height: 120px;
  margin: 3px;
}
.item4 {
  background-color: #efefef;
  align-self: flex-start;
  width: 200px;
  height: 240px;
  margin: 3px;
}
.item5 {
  background-color: #9bd8a6;
  width: 180px;
  height: 120px;
  margin: 3px;
}
.item6 {
  background-color: #ecddbb;
  width: 200px;
  height: 240px;
  margin: 3px;
}
.material-icons {
  color: grey;
}
.middle {
  /* width: 1500px; */
  height: 450px;
  background-color: #f6f8fa;
  margin-right: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.left-margin {
  margin-left: 120px;
}
.middle .middle-item {
  /* height: 150px; */
  background-color: white;
  max-height: 130px;
  height: 100px;
  width: 230px;
  max-width: 230px;
  display: flex;
  flex-direction: row;
  align-items: start;
  border-radius: 5px;
  padding: 3px;
  margin-left: 15px;
}

.middle-header {
  width: 1500px;
  /* height: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.middle-header p {
  font-weight: 700;
}
#subtitle {
  text-align: center;
  color: #aaaaaa;
  font-style: italic;
  width: 600px;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.underline {
  height: 2px;
  width: 55px;
  background-color: black;
  color: black;
  position: relative;
  margin-left: 100px;
}

img {
  width: 50%;
  border-radius: 8px;
  /* display: block; */
  margin-left: 25%;
  margin-top: 12%;
}

.material-icons {
  font-size: 0.73em;
  color: grey;
}

span {
  display: inline;
}
.margin-auto {
  margin: auto;
}
.circle {
  width: 70px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #e6f1f4;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.item-text {
  text-align: center;
  display: flex;
  justify-content: center;
}
#middle-header-title {
  text-align: center;
}

.item-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.small-font {
  font-size: 12px;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
}
.padding-zero {
  padding: 0;
}
.margin-zero {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-container p {
  font-size: 14px;
  color: #b1b3b4;
}
.middle-layout {
  display: flex;
}

ul li {
  list-style-type: none;
  float: left;
  display: inline;
}

.flex-column + p {
  color: rebeccapurple;
}

.item-content-title {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.item-content-description {
  margin-right: 10px;
  text-align: start;
  color: #b1b3b5;
  font-size: 12px;
  margin-bottom: 0;
}
.blue {
  color: #009ee0;
}
.blue-background {
  background-color: #009ee0;
}
.white-icon {
  color: white;
}
.floating {
  position: absolute;
  width: 800px;
  height: 1200px;
  background-color: #e7eee6;
  box-shadow: 3px 5px 5px grey;
  left: 200px;
  top: 250px;
}
.floating-nav {
  height: 50px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  align-items: center;
}

.image-body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  margin-bottom: 0px;
  height: 600px;
  flex-direction: column;
}
.text-section {
  display: block;
  width: 350px;
}

.first-header {
  display: block;
  color: #999b99;
  font-weight: bold;
  margin: 5px;
}
.bold-blue {
  display: block;
  color: #999b99;
  font-weight: bold;
  color: #009cde;
  font-size: 18px;
  margin: 5px;
}
.title-text {
  font-size: 16;
  font-weight: bold;
  margin: 5px;
}
.social-media {
  display: flex;
  width: 350px;
  background-color: transparent;
  gap: 12px;
}
.social-media-icons {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-left: 5px;
}
.f {
  color: white;
  background-color: #898788;
  align-self: center;
}
.t {
  background-color: #00abf0;
  color: white;
}
.l {
  color: white;
  background-color: #898788;
  align-self: center;
}
i {
  margin: 5px;
}

.bottom-section {
  display: flex;
  color: black;
  height: 1500px;
  flex-direction: row;
  background-color: white;
}
.bottom-left {
  width: 50%;
  height: 100%;
}
.bottom-right {
  width: 50%;
  height: 500px;
  margin-top: 95px;
  margin-left: 12px;
}
.portfolio-title {
  margin-left: 120px;
  margin-top: 48px;
}
.portfolio {
  margin-left: 120px;
  width: 32px;
  background-color: #009cde;
  height: 1px;
}
.bio {
  font-size: 12px;
  margin-left: 120px;
  margin-top: 15px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  margin-bottom: 12px;
  width: 200px;
}
.contact-right {
  display: flex;
  justify-content: end;
  width: 150px;
}
.contact li p {
  font-weight: 500;
  font-size: 12px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.bottom-left ul {
  margin-left: 80px;
}

.bottom-right h1 {
  margin-bottom: 12px;
}

.skill-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 24px;
}
.skill-row-item {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: black;
  width: 200px;
  height: 120px;
  max-height: 100px;
  background-color: #009cde;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f0f6f9;
  border-radius: 4px;
}
.skill-row-item.active {
  background-color: #009de0;
  color: white;
}
.skill-row-item .item-content {
  height: 100px;
}

.skill-levels {
  display: flex;
  justify-content: start;
  align-items: center;
}
.progress-bar {
  width: 130px;
  height: 10px;
  margin-left: 24px;
  margin-right: 12px;
  background-color: #009de0;
  border-radius: 20px;
}
.progress-bar .circle {
  height: 4px;
  width: 4px;
  background-color: #009de0;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-bottom: 6px;
  position: relative;
}

.photoshop {
  left: 92px;
  margin-bottom: 12px;
}
.illustrator {
  left: 86px;
  margin-bottom: 12px;
}
.in-design {
  margin-bottom: 12px;
  left: 42px;
}
.corel-draw {
  margin-bottom: 12px;
  left: 60px;
}
